// {{.Name}} returns a copy of {{.FldName}}, omitting elements that are rejected by the given function.
// The n argument determines the maximum number of elements to return (n < 1: all elements).
func ({{.RcvName}} {{.RcvType}}) {{.Name}}(fn func({{.ArgType}}) bool, n int) {{.RetVals}} {
	cap := n
	if n < 1 {
		cap = len({{.RcvName}}.{{.FldName}})
	}
	result := make({{.FldType}}, 0, cap)
	for i := range {{.RcvName}}.{{.FldName}} {
		if fn({{.RcvName}}.{{.FldName}}[i]) {
			if result = append(result, {{.RcvName}}.{{.FldName}}[i]); len(result) >= cap {
				return result
			}
		}
	}
	return result
}